---
title: Welcome to Middleman
---
    





<!-- // START OF GAME - MUST USE A WRAPPER TO POSITION AND STYLE GAME -->
<!-- MUST USE A WRAPPER TO POSITION AND STYLE GAME -->
<div id="wrapper">
  <div id="theGame">
    
    <%= partial "partials/_teaser" %>          
    <%= partial "partials/_spriteLoader" %>          
    <%= partial "partials/_openingSequences" %>          
    <%= partial "partials/_scene1" %>          
    <%= partial "partials/_scene2" %>          
    <%= partial "partials/_scene3" %>          
    <%= partial "partials/_scene4" %>          
    <%= partial "partials/_scene5" %>                      
    <%= partial "partials/_scene6" %>                      
    <%= partial "partials/_scene7" %>                      
    <%= partial "partials/_scene7" %>                      
    <%= partial "partials/_scene8" %>                      
    <%= partial "partials/_scene9" %>                      
    <%= partial "partials/_scene10" %>                      
    <%= partial "partials/_scene11" %>                      
    <%= partial "partials/_scene12" %>                      
    <%= partial "partials/_scene13" %>                      
                      
      </ul><!-- END CHAPTER -->
  </div><!-- END GAME -->
</div><!-- END GAME WRAPPER -->          